name: Terraform Dev Modules

on:
  push:
    paths:
      - ".github/workflows/**"
      - "modules/vpc/**"
      - "aws/vpc/**"
      - "modules/eks/**"
      - "aws/eks/dev/**"
      - "modules/eks_node_group/**"
      - "aws/node-group/dev/**"

  pull_request:
    paths:
      - ".github/workflows/**"
      - "modules/vpc/**"
      - "aws/vpc/**"
      - "modules/eks/**"
      - "aws/eks/**"
      - "modules/eks_node_group/**"
      - "aws/node-group/**"

  workflow_dispatch:
    inputs:
      run_all:
        description: "Run all Terraform modules (bootstrap)"
        required: false
        default: "false"

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # ---------- Checkout ----------
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # ---------- Terraform ----------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ---------- AWS ----------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # ---------- Detect Changes ----------
      - name: Detect changed modules
        run: |
          echo "VPC_CHANGED=false" >> $GITHUB_ENV
          echo "EKS_CHANGED=false" >> $GITHUB_ENV
          echo "NODE_CHANGED=false" >> $GITHUB_ENV

          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -qE '^modules/vpc/|^aws/vpc/'; then
            echo "VPC_CHANGED=true" >> $GITHUB_ENV
          fi

          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -qE '^modules/eks/|^aws/eks/'; then
            echo "EKS_CHANGED=true" >> $GITHUB_ENV
          fi

          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -qE '^modules/eks_node_group/|^aws/node-group/'; then
            echo "NODE_CHANGED=true" >> $GITHUB_ENV
          fi

      # ---------- VPC ----------
      - name: Terraform Init & Plan (VPC)
        if: |
          env.VPC_CHANGED == 'true' ||
          github.event.inputs.run_all == 'true'
        working-directory: aws/vpc/dev
        run: |
          terraform init
          terraform plan

      # ---------- EKS ----------
      - name: Terraform Init & Plan (EKS)
        if: |
          env.EKS_CHANGED == 'true' ||
          github.event.inputs.run_all == 'true'
        working-directory: aws/eks/dev
        run: |
          terraform init
          terraform plan

      # ---------- Node Group ----------
      - name: Terraform Init & Plan (Node Group)
        if: |
          env.NODE_CHANGED == 'true' ||
          github.event.inputs.run_all == 'true'
        working-directory: aws/node-group/dev
        run: |
          terraform init
          terraform plan