name: Terraform Dev Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - "modules/**"
      - "aws/**"

jobs:

  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      vpc: ${{ steps.filter.outputs.vpc }}
      eks: ${{ steps.filter.outputs.eks }}
      node: ${{ steps.filter.outputs.node }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            vpc:
              - modules/vpc/**
              - aws/vpc/**
            eks:
              - modules/eks/**
              - aws/eks/**
            node:
              - modules/node-group/**
              - aws/node-group/**

  vpc:
    needs: detect-changes
    if: needs.detect-changes.outputs.vpc == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: VPC Apply
        working-directory: aws/vpc/dev
        run: |
          terraform init
          terraform apply -auto-approve

  eks:
    needs: [detect-changes, vpc]
    if: needs.detect-changes.outputs.eks == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: EKS Apply
        working-directory: aws/eks/dev
        run: |
          terraform init
          terraform apply -auto-approve

  node-group:
    needs: [detect-changes, eks]
    if: needs.detect-changes.outputs.node == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: Node Group Apply
        working-directory: aws/node-group/dev
        run: |
          terraform init
          terraform apply -auto-approve