name: Terraform VPC Dev

on:
  push:
    paths:
      - "modules/vpc/**"
      - "aws/vpc/**"
  pull_request:
    paths:
      - "modules/vpc/**"
      - "aws/vpc/**"

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: aws/vpc/dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve