name: Terraform EKS Workflow

on:
    push:
        paths:
            - 'aws/vpc/**'
            - 'modules/vpc/**'
    pull_request:
        paths:
            - 'aws/vpc/**'
            - 'modules/vpc/**'
    workflow_dispatch:
jobs:
    terraform:
        name: 'Terraform VPC Dev'
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: aws/vpc/dev
        steps:
            - uses: actions/checkout@v4

            - uses: hashicorp/setup-terraform@v3

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-south-1

            - name: Terraform Init
              run: terraform init
            - name: Terraform plan
              run: terraform plan